.signupbanner{
	height: 650px;
	background-image: url(../images/signupbanner.png);
}
.text{
	text-align: center;
	color: rgb(80,80,80);
	font-family: "Noto Sans KR";
	padding-top: 85px;
}
h5{
	color: rgb(140,140,140);
	font-weight: 300;
	margin-top: 10px;
}
.tablecontainer{
	height:969px;
	background-image: url(../images/signupback.png);
}
.signuptable{
	margin-top: 80px;
	margin-left: 730px;
	border-spacing: 0 10px;

}
.signuptable tr, .signuptable td, .signuptable th{
	height: 40px;
	margin-top: 50px;
}
.signuptable th{
	text-align: left;
	width: 150px;
	font-family: "IBM Plex Sans KR";
	color: rgb(80,80,80);
}
#memberId_, #email, #password1, #password2, #memberName, #age, #address, #phone{
	background-color: white;
	width: 190px;
	height: 40px;
	border: 1px solid rgb(170,170,170);
	padding-left: 15px;
}
#idCheck,#emailCheck{
	margin-left: 5px;
	border: 0;
	width: 100px;
	height: 40px;
	background-color: rgb(39, 113, 173);
	color: white;
	font-family: "IBM Plex Sans KR";
	font-weight: 300;
}
input:focus{
	outline: 2px solid rgb(39, 113, 173);
}
#gender{
	height: 45px;
	width: 207px;
	color: rgb(120,120,120);
	padding-left: 8px;
}
#signUp, #cancel{
	border: 0;
	width: 225px;
	height: 55px;
	font-family: "IBM Plex Sans KR";
	color: white;
	font-weight: 500;
	font-size: 18px;
}
#signUp{
	margin-top: 40px;
	margin-left: 732px;	
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/signupbanner.png);
}
.text{
	text-align: center; 
	color: rgb(80,80,80);
	font-family: "Noto Sans KR";
	padding-top: 85px;
}
h5{
	color: rgb(140,140,140);
	font-weight: 300;
	margin-top: 10px;
}
.tablecontainer{
	height:969px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/signupback.png);
	justify-content : center;
}
.tablecontainer input{
	margin: 0px auto;
	justify-items: center;
}
.signuptable{
	margin: 47px auto;
	border-spacing: 0 10px;
}
.signuptable tr, .signuptable td, .signuptable th{
	height: 40px;
	margin-top: 50px;
}
.signuptable th{
	text-align: left;
	width: 150px;
	font-family: "IBM Plex Sans KR";
	color: rgb(80,80,80);
}
#memberId_, #email, #password1, #password2, #memberName, #age, #address, #phone{
	background-color: white;
	width: 190px;
	height: 40px;
	border: 1px solid rgb(170,170,170);
	padding-left: 15px;
}
#idCheck,#emailCheck{
	margin-left: 5px;
	border: 0;
	width: 100px;
	height: 40px;
	background-color: rgb(39, 113, 173);
	color: white;
	font-family: "IBM Plex Sans KR";
	font-weight: 300;
}
input:focus{
	outline: 2px solid rgb(39, 113, 173);
}
#gender{
	height: 45px;
	width: 207px;
	color: rgb(120,120,120);
	padding-left: 8px;
}
.btn{
	width: 500px;
	margin: 0 auto;
}
#signUp, #cancel{
	border: 0;
	width: 225px;
	height: 55px;
	font-family: "IBM Plex Sans KR";
	color: white;
	font-weight: 500;
	font-size: 18px;
}
#signUp{	
	background-color: rgb(39, 113, 173);
	cursor: pointer;
}
#cancel{
	margin-left: 7px;
	background-color: rgb(137, 178, 211);
	cursor: pointer;
}
