@charset "UTF-8";
*{
    margin:0;
    padding:0;
}
ul,li{
    list-style: none;
}

#wrap{
    width:1900px;
}
#header{
    width: 1200px;
    height:115px;
    margin:0 auto;
    display: flex;
}
#logo{
    margin-top: 37px;
}
#menubox{
    margin-left: 70px;
    height: 100%;
    width: 1200px;
}
#menubox>ul>li{
    display:inline-block;
    text-align: center
}
#menubox>ul>li>a{
    text-decoration: none;
    font-size:20px;
    color: rgb(99, 99, 99);
    font-weight: bold;
    width:80px;
    display:inline-block;
    margin:40px;
    font-family: "Noto Sans KR";
}
.main{
    background-image: url("../images/Main1.png");
    height: 800px;
}
.button{
    text-align: center;
    padding-top: 530px;
    padding-left: 1060px;
}
.content1{
    width: 100%;
    height: 400px;
    text-align: center;

}
.content1>h1{
    position: relative;
    padding-top: 90px;
    font-family: "Noto Sans KR";
    font-weight: 700;
    color: rgb(85, 85, 85);
}
.content1>p{
    position: relative;
    padding-top: 10px;
    font-family: "Noto Sans KR";
    font-weight: 400;
    color: rgb(156, 156, 156);
}
.content1>img{
    padding-top: 30px;
    padding: 20px;
}

.content2{
    width: 100%;
    height: 800px;
    background-color:springgreen
}
.content3{
    width: 100%;
    height: 800px;
    background-color:violet
}
.content4{
    width: 100%;
    height: 800px;
    background-color: yellowgreen;
}




